@vis-hover-opacity: 0.8;

rect {
  opacity: 1;

  &:hover {
    opacity: @vis-hover-opacity;
  }
}

circle {
  opacity: 0;

  &:hover {
    opacity: 1;
    stroke-width: 10px;
    stroke-opacity: @vis-hover-opacity;
  }
}