<div>
  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="timeLocale">
      Time Locale
    </label>
    <div class="kuiSideBarFormRow__control">
      <select id="timeLocale" class="kuiSelect kuiSideBarSelect" ng-model="editorState.params.locale" ng-options="locale for locale in collections.locales"></select>
    </div>
  </div>

  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="colorSchema">
      Color Schema
    </label>
    <div class="kuiSideBarFormRow__control">
      <select id="colorSchema" class="kuiSelect kuiSideBarSelect" ng-model="editorState.params.colorSchema" ng-options="mode for mode in collections.colorSchemas"></select>
    </div>
  </div>

  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="invertColors">
      Reverse Color Schema
    </label>
    <div class="kuiSideBarFormRow__control">
      <input class="kuiCheckBox" id="invertColors" type="checkbox" ng-model="editorState.params.invertColors">
    </div>
  </div>

  <div class="kuiSideBarFormRow" ng-if="!editorState.params.setColorRange">
    <label class="kuiSideBarFormRow__label" for="percentageMode">
      Percentage Mode
    </label>
    <div class="kuiSideBarFormRow__control">
      <input class="kuiCheckBox" id="percentageMode" type="checkbox" ng-model="editorState.params.percentageMode">
    </div>
  </div>

  <div class="kuiSideBarFormRow" ng-if="!editorState.params.setColorRange">
    <label class="kuiSideBarFormRow__label" for="colorsNumber">
      Number of colors
    </label>
    <div class="kuiSideBarFormRow__control">
      <input id="colorsNumber" class="kuiSideBarInput" ng-model="editorState.params.colorsNumber" type="number" greater-than="1"
        less-than="11">
    </div>
  </div>

</div>